<div class="container">
  <div class="row">

    <h1>Create a new cocktail :</h1>

    <%= form_for(@cocktail) do |c| %>
      <p>
        <%= c.label :name %>
        <%= c.text_field :name %>
      </p>
      <p>
        <%= c.submit %>
      </p>
    <% end %>

    <nav>
      <%= link_to 'Back', cocktails_path %>
    </nav>

</div>
</div>